.title{
    text-align:center;
    font-weight: bold;
    font-size: 24px;
}
.actuallist{
    border:1px solid black;
    background-color: palegreen;
    border-radius: 15px;
}
.entry{
    margin:10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.descriptor{
    text-align: justify;

}
.footer{
    font-size: 10px;
}
.date{
    font-weight: lighter;
    font-style: italic;
    font-size: 12px;
}
.news0{
    background-color:"#90ee90bf";
}
.news1{
    background-color:"#f08080bf";
}
.news2{
    background-color:"#add8e6bf";
}
.news3{
    background-color:"#ffb6c1bf";
}
.news4{
    background-color:"#ffff00bf";
}
.newsentry{
    font-size: 16px;
    text-align: center;
}
.maintitle{
    font-size: 42px;
}